/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-text-weight);
  color: var(--main-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card {
 /* min-width: fit-content;*/
  width: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.header,
.main,
.footer {
  width: var(--content-width);
}

.header {
  font-family: var(--accent-font-family), 'fantasy', sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-rows: var(--header-grid-template);
  justify-content: center;
  min-height: 323px;
  margin-top: 102px;
  margin-bottom: 104px;
}

.header__logo {
  width: max-content;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 14px;
  padding-right: 14px;
}

.header__logo-title {
  font-size: clamp(49px, 30px + 2.5vw, 65px);
  font-weight: var(--main-font-text-weight);
}

.header__logo-subtitle {
  font-size: clamp(14px, 10px + 1vw, 23px);
  font-weight: var(--main-font-text-weight);
}

.header__theme-menu {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  left: 9px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  padding: 0;
  font-size: 14px;
  display: flex;
  gap: 6px;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -24px;
  color: var(--main-color);
  animation-name: arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: 0;
}

.theme-menu__button:enabled:before {
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  content: "";
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease;
}

.theme-menu__button:enabled:focus-visible::before {
  transform: scaleX(1);
  transform-origin: 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-cards-gap);
}

.main__article-header {
  font-weight: 700;
  font-variation-settings: "wght" var(--main-font-headers-weight);
  margin-left: 10px;
  margin-top: var(--headings-top-margin);
  margin-bottom: var(--headings-bottom-margin);
  font-size: 18px;
}

.main__article-wrapper {
  position: relative;
  overflow: hidden;
  max-height: fit-content;
  box-sizing: content-box;
}

.main__article-image {
  width: 100%;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);  
}

.main__article-label {
  position: absolute;
  top: 25px;
  right: var(--main-article-label-padding);
  font-size: 14px;
  font-family: var(--accent-font-family), 'fantasy', sans-serif;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}


@supports (
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .main__article-label {
    text-stroke: 1px var(--background-color);
    text-shadow: 0 0;
  }
}

.main__article-label {
  text-shadow: 1px 1px 0 var(--background-color);
}

.main__article-text {
  padding: 23px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 21px;
}

.main__article-memories {
  margin-top: 2px;
}

.main__article-footer {
  margin-top: -4px;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 7px;
}

.card__icon-button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  border: 2px solid transparent;
  width: 45px;
  height: 100%;
  padding: 0;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  background-color: transparent;
  padding: 12.5px 37px;
  border: 2px solid var(--main-color);
  font-family: var(--accent-font-family), 'fantasy', sans-serif;
  font-size: 14px;
  line-height: 90%;
  width: 130px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  box-shadow: 0px 0px var(--main-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: 0;
  box-shadow: 2px 2px var(--main-color);
}

.button::before {
  position: absolute;
  width: 100%;
  height: 101%;
  background-color: var(--main-color);
  content: "";
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scale(1);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  white-space: nowrap;
}

.footer {
  padding-top: 54px;
  padding-bottom: var(--footer-bottom-padding);
  display: flex;
  justify-content: center;
}

.footer__button {
  background-color: var(--background-color);
  padding: 15px 21px 15px 19px;
  border: 2px solid var(--main-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: var(--accent-font-family), 'fantasy', sans-serif;
  font-size: 14px;
  line-height: 90%;
  width: clamp(310px, 81.6%, 339px);
}

.footer__button-icon {
  width: 21px;
  height: 21px;
}

.dialog[open] {
  display: grid;
  font-family: var(--accent-font-family), 'fantasy', sans-serif;
  color: var(--main-color);
  font-size: 14px;
  line-height: 150%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  padding: var(--dialog-padding);
  width: var(--dialog-width);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
}

.dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog__button-icon {
  width: 39px;
  height: 39px;
  justify-self: start;
  align-self: center;
}

.dialog__message {
  text-transform: uppercase;
}

.dialog__form {
  height: 100%;
  width: 100%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}

.dialog__button {
  align-self: center;
  justify-self: center;
  width: clamp(257px, 100%, 293px);
  text-transform: uppercase;
  height: 38px;
  padding: 9px 17px;
}

.image-2 {
  filter: saturate(20%);
}

.image-3 {
  filter: saturate(250%);
}

.image-4 {
  filter: hue-rotate(30deg);
}

.image-5 {
  filter: invert(80%);
}

.image-6 {
  filter: sepia(90%);
}

.image-7 {
  filter: blur(0.5rem);
}

.image-8 {
  filter: blur(0.05rem) hue-rotate(-270deg) saturate(150%) contrast(40%) brightness(90%);
}
